{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">{{ task.title }}</h1>

    <table>
        <tr>
            <td>
                <a href="{{ path('task_edit', { 'id': task.id }) }}" class="btn btn-primary">{{ 'action.edit'|trans }}</a>
            </td>
            <td>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger">{{ 'action.delete'|trans }}</button>
                {{ form_end(delete_form) }}
            </td>
        </tr>
    </table>

    <br>

    <i class="fa fa-list-alt"></i> <a href="{{ path('list_show', { 'id': task.list.id }) }}">{{ task.list.name }}</a>

    {% if task.priority %}<i class="fa fa-exclamation-triangle"></i> {{ ('form.task.priority_choice.' ~ task.priority)|trans }}{% endif %}

    {% if task.dueDate %}<i class="fa fa-calendar"></i> {{ task.dueDate|date('Y-m-d') }}{% endif %}

    <br><br>

    <div class="container">{{ task.content }}</div>
{% endblock %}
