{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" novalidate>
    {% if csrf_token %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <fieldset>
        <legend>{{ 'layout.login'|trans }}</legend>
        <div class="form-group">
            <label class="col-lg-2 control-label">{{ 'security.login.username'|trans }}</label>
            <div class="col-lg-10">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
            </div>
            <label for="inputPassword" class="col-lg-2 control-label">{{ 'security.login.password'|trans }}</label>
            <div class="col-lg-10">
                <input type="password" id="password" name="_password" required="required" class="form-control" />
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" id="_submit" name="_submit" class="btn btn-success">{{ 'security.login.submit'|trans }}</button>
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">{{ 'registration.submit'|trans }}</a>
                <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-danger">{{ 'resetting.request.submit'|trans }}</a>
            </div>
        </div>
    </fieldset>
</form>
