{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasklists list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for taskList in taskLists %}
            <tr>
                <td><a href="{{ path('list_show', { 'id': taskList.id }) }}">{{ taskList.id }}</a></td>
                <td>{{ taskList.name }}</td>
                <td>{% if taskList.created %}{{ taskList.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('list_show', { 'id': taskList.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('list_edit', { 'id': taskList.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('list_new') }}">Create a new taskList</a>
        </li>
    </ul>
{% endblock %}
