{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
    <fieldset>
        <legend>{{ 'form.task_list.legend.new'|trans }}</legend>
        <div class="form-group">
            <div class="col-sm-12 text-danger">{{ form_errors(form.name) }}</div>
            <label class="col-lg-2 control-label">{{ form_label(form.name) }}</label>
            <div class="col-lg-10">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">{{ 'action.create'|trans }}</button>
            </div>
        </div>
    </fieldset>
    {{ form_end(form) }}
{% endblock %}
